body {
	font-family: "GillSans" ! important;
	font-style: normal ! important;
  font-variant: normal ! important;
  font-weight: 300;
  color: #1a1a1a ! important;
  background-color: whitesmoke;
}
/*

CSS NAV BAR

*/

.nav-bar {
    background-color: #004aad;
    overflow: hidden;
  }

  .nav-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    width: 22.68%;
  }
  .nav-bar a:hover {
    background-color:#307ddc;
    color: rgb(235, 236, 238);
  }
  .nav-bar a.active {
    background-color:  #307ddc;
    color: white;
  }
/*

CSS PROJECTS FORM PAGE

*/
  
div.container {
	border:2px solid #ccc;
    height: 35em;
    align-content: center;
    overflow-y: scroll;
    }
table#tbl-register {
    width: 100%;
    margin: 0px auto;
}

table#tbl-register, th, td {
    padding: 5px;
}

table#tbl-register td:nth-child(odd) {
    text-align: left;
    width:35%; 
}
 textarea {
    width: 60%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 35px;
    background-color: #307ddc;
    resize: vertical;
    text-align: left;
    color: white;
    font-size: medium;

    }
  input[type=text] {
    text-align: center;
    width: 5%;
    float: right;
    padding: 12px;
    border: 5px solid #307ddc ;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    resize: vertical;
    color: #307ddc;
    font-size: large;
    font-weight: 600;
    
  }

  span{
    float: right;
  }

::placeholder {
  color: rgb(199, 199, 199);
  font-weight: 300;
}

.button {
  background-color:  #004aad;
  border-radius: 12px;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  margin-left: 23%;
}
button:hover{
  background-color: #307ddc;
  color: rgb(235, 236, 238);
  
}
/*

CSS PROJECTS PAGE

*/
/* Create two equal columns that floats next to each other */
.column {
  border-radius: 5%;
  padding: 70px;
  background-color:#307ddc;
  text-align: justify;
  display: inline-block;
}

/* Clear floats after the columns */
.row {
  content: "";
  display: table;
  text-align: justify;
  
}
* {
  box-sizing: border-box;
}

      